::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #71c3f7;
}

::-webkit-scrollbar-thumb {
  background-color: #0028FF;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2c6cbc;
}


th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
} 

.svg-icon {
    filter: brightness(0); 
  }
  
  .group:hover .svg-icon {
    filter: brightness(5%) saturate(50%) invert(39%) sepia(95%) saturate(1200%) hue-rotate(210deg) brightness(90%) contrast(100%);
  }

  .groups .svg-icon {
    filter: brightness(5%) saturate(50%) invert(39%) sepia(95%) saturate(1200%) hue-rotate(210deg) brightness(90%) contrast(100%);
  }

  .loader {
    width: 24px;
    height: 24px;
    border: 3px solid #FFF;
    border-bottom-color: #2c6cbc;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 


    .loader2, .loader2:before, .loader2:after {
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      animation-fill-mode: both;
      animation: bblFadInOut 1.8s infinite ease-in-out;
    }
    .loader2 {
      color: #0028FF;
      font-size: 7px;
      position: relative;
      text-indent: -9999em;
      transform: translateZ(0);
      animation-delay: -0.16s;
    }
    .loader2:before,
    .loader2:after {
      content: '';
      position: absolute;
      top: 0;
    }
    .loader2:before {
      left: -3.5em;
      animation-delay: -0.32s;
    }
    .loader2:after {
      left: 3.5em;
    }
    
    @keyframes bblFadInOut {
      0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
      40% { box-shadow: 0 2.5em 0 0 }
    }
        



  
  